.background {
  height: 100%;
  padding-bottom: 5px;
}

p,
a,
button {
  /* font-family: "Lato", sans-serif; */
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*  */
  font-family: "Roboto", sans-serif;
}

.fw-6 {
  font-weight: 600;
}

/* button style */
.btn-1 {
  border: 1px solid #666;
  background: none;
  border-radius: 4px;
  padding: 4px 8px;
}


/*-------------------- title -------------------------*/
.title-3{

}


main{
  padding-bottom: 80px;
}

@media (min-width: 700px) { 
  .container{
    max-width: 700px !important;
  }
 }
@media (max-width: 767.98px) {
  /* button style */
  .btn-1 {
    font-size: 14px;
    padding: 2px 6px;
  }
}





